{% extends "template2.html" %}
{% load static %}
{% block title %}INICIO{% endblock %}

{% block extra_css %}
{% endblock %}

{% block contenido %}

<nav id="nav">
    <ul class="links">
        <li><a href="{% url 'inventario/' %}">Inventario</a></li>
        <li class="active"><a href="{% url 'analisis/' %}">Analisis</a></li>
        <li><a href="{% url 'ventas/' %}">Ventas</a></li>
        <li><a href="{% url 'clientes/' %}">Clientes</a></li> 
    </ul>
</nav>

<div id="main">
    <h3>Regresion Lineal</h3>
    <form action="{% url 'modelos/regresion_lineal/' %}" type="submit" method="get">
        <input name="nombre_producto" type="text" id="nombre_producto" placeholder="Nombre del producto">
        <button>
            Generar informe
        </button>
    </form>

    <h3>Regresion Polinomial</h3>
    <form action="{% url 'modelos/regresion_polinomial/' %}" type="submit" method="get">
        <input name="nombre_producto" type="text" id="nombre_producto" placeholder="Nombre del producto">
        <button>
            Generar informe
        </button>
    </form>

    <h3>Algoritmo de Kalman</h3>
    <form action="{% url 'modelos/algoritmo_kalman/' %}" type="submit" method="get">
        <input name="nombre_producto" type="text" id="nombre_producto" placeholder="Nombre del producto">
        <button>
            Generar informe
        </button>
    </form>
</div>
        
{% endblock %}